openapi: 3.0.3
info:
  title: Wealth-X Connect Dossiers Search API
  version: v1
  description: The Wealth-X Connect API delivers Wealth-X wealth-intelligence data — curated dossiers on ultra-high-net-worth (UHNW) and very-high-net-worth (VHNW) individuals and their privately held companies — directly into a subscriber's CRM or data platform. It exposes single- and bulk-dossier retrieval, an advanced dossier search (by name, company, geography, net worth, industry, interests, education, philanthropy and relationships) and reference-data lookups (countries, states, industry types, positions). This specification was generated faithfully from the provider's published Postman collection; endpoints, parameters and the authentication model are taken verbatim from that collection. No response schemas are published by the provider, so response bodies are described generically.
  contact:
    name: Wealth-X Developer Support
    url: https://developers.wealthx.com/api/main.html
  x-apisjson-source: https://developers.wealthx.com/api/Wealth-X%20API%20Samples.postman_collection.json
  x-provenance: generated from the published Wealth-X API Samples Postman collection
servers:
- url: https://connect.wealthx.com/rest/v1
  description: Wealth-X Connect production API
security:
- wealthxUsername: []
  wealthxPassword: []
  wealthxApiKey: []
tags:
- name: Search
  description: Advanced search across the Wealth-X database.
paths:
  /dossiers/search/advanced:
    post:
      operationId: searchDossiersAdvanced
      tags:
      - Search
      summary: Advanced dossier search
      description: Search the Wealth-X database with a rich criteria object — keyword, person name, company, geography (country/state/location type), net-worth and total-assets-under-management floors, industry and position, interests/hobbies, education, philanthropy and connection relationships — with sorting and pagination.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DossierSearchRequest'
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dossier'
        '400':
          description: Malformed search criteria.
        '401':
          description: Missing or invalid authentication headers.
components:
  schemas:
    DossierSearchRequest:
      type: object
      description: Advanced search criteria for the Wealth-X database.
      properties:
        keyword:
          type: string
        section:
          type: string
          description: Section to scope a keyword against (e.g. education, philanthropy, connection).
        firstName:
          type: string
        lastName:
          type: string
        exactNameOnly:
          type: boolean
        companyName:
          type: string
        currentCompanyOnly:
          type: boolean
        countryID:
          type: integer
        stateID:
          type: integer
        locationType:
          type: string
        networthMin:
          type: number
        networthMax:
          type: number
        tafMin:
          type: number
          description: Minimum total assets/fortune floor.
        position:
          type: string
        industryType:
          type: string
        hobbies:
          type: string
        maxRecords:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer
        orderBy:
          type: string
        sortDirection:
          type: string
          enum:
          - asc
          - desc
        idOnly:
          type: boolean
      additionalProperties: true
    Dossier:
      type: object
      description: A Wealth-X wealth-intelligence record on an individual or privately held company. Field set varies by view and subscription; only fields observed in the published collection are named here.
      properties:
        dossierId:
          type: integer
        dossierType:
          type: string
          description: person or company.
        netWorth:
          type: number
        knownAssociates:
          type: array
          items:
            type: object
      additionalProperties: true
  securitySchemes:
    wealthxUsername:
      type: apiKey
      in: header
      name: username
      description: Wealth-X account username, supplied as a request header.
    wealthxPassword:
      type: apiKey
      in: header
      name: password
      description: Wealth-X account password, supplied as a request header.
    wealthxApiKey:
      type: apiKey
      in: header
      name: apikey
      description: Wealth-X API key, supplied as a request header.
